In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
dataset = pd.read_csv('Social_Network_Ads.csv')
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [2]:
x = np.array(dataset[['Age','EstimatedSalary']])
y = np.array(dataset['Purchased'])

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

#Nave Bayes Classifier

from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [6]:
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1])

In [7]:
y_test

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1])

In [8]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[56  2]
 [ 4 18]]

In [9]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.93      0.97      0.95        58
           1       0.90      0.82      0.86        22

    accuracy                           0.93        80
   macro avg       0.92      0.89      0.90        80
weighted avg       0.92      0.93      0.92        80

In [10]:
y_hat_prob = model.predict_proba(X_test)
#prediction in probability
y_hat_prob
# first column for 0 second for 1
#whichever column is highest it will predict thecolumn number
#like 0 for first row

array([[0.89147043, 0.10852957],
       [0.84097849, 0.15902151],
       [0.85177346, 0.14822654],
       [0.91910807, 0.08089193],
       [0.89836193, 0.10163807],
       [0.95434022, 0.04565978],
       [0.90414431, 0.09585569],
       [0.03556946, 0.96443054],
       [0.98918806, 0.01081194],
       [0.50281633, 0.49718367],
       [0.95249262, 0.04750738],
       [0.96371556, 0.03628444],
       [0.85930139, 0.14069861],
       [0.7299999 , 0.2700001 ],
       [0.97431305, 0.02568695],
       [0.47994231, 0.52005769],
       [0.79297558, 0.20702442],
       [0.97847631, 0.02152369],
       [0.00422727, 0.99577273],
       [0.86019336, 0.13980664],
       [0.89871448, 0.10128552],
       [0.00500754, 0.99499246],
       [0.75594755, 0.24405245],
       [0.13376637, 0.86623363],
       [0.97909645, 0.02090355],
       [0.0047035 , 0.9952965 ],
       [0.9182418 , 0.0817582 ],
       [0.92764915, 0.07235085],
       [0.84823267, 0.15176733],
       [0.86172083, 0.13827917],
       [0.9678875 , 0.0321125 ],
       [0.78129467, 0.21870533],
       [0.11042736, 0.88957264],
       [0.86111685, 0.13888315],
       [0.97916887, 0.02083113],
       [0.99139079, 0.00860921],
       [0.97234947, 0.02765053],
       [0.91209682, 0.08790318],
       [0.93926899, 0.06073101],
       [0.39193642, 0.60806358],
       [0.92597765, 0.07402235],
       [0.75507876, 0.24492124],
       [0.93716581, 0.06283419],
       [0.85281809, 0.14718191],
       [0.16753038, 0.83246962],
       [0.9677573 , 0.0322427 ],
       [0.77498134, 0.22501866],
       [0.11958261, 0.88041739],
       [0.96910772, 0.03089228],
       [0.22882268, 0.77117732],
       [0.00567884, 0.99432116],
       [0.88752012, 0.11247988],
       [0.89381317, 0.10618683],
       [0.43716791, 0.56283209],
       [0.03349443, 0.96650557],
       [0.56650561, 0.43349439],
       [0.9194267 , 0.0805733 ],
       [0.95309194, 0.04690806],
       [0.35913909, 0.64086091],
       [0.9742679 , 0.0257321 ],
       [0.8991838 , 0.1008162 ],
       [0.0656375 , 0.9343625 ],
       [0.98457513, 0.01542487],
       [0.62169745, 0.37830255],
       [0.98741951, 0.01258049],
       [0.03350887, 0.96649113],
       [0.94922463, 0.05077537],
       [0.9677573 , 0.0322427 ],
       [0.78870164, 0.21129836],
       [0.66050225, 0.33949775],
       [0.03504982, 0.96495018],
       [0.8433546 , 0.1566454 ],
       [0.98312176, 0.01687824],
       [0.50894838, 0.49105162],
       [0.92270414, 0.07729586],
       [0.98330706, 0.01669294],
       [0.59570633, 0.40429367],
       [0.77318442, 0.22681558],
       [0.21985332, 0.78014668],
       [0.11904296, 0.88095704]])